# Python cache (all folders)
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/

# Virtual environment
venv/
.venv/

# Ignore tests completely
tests/

# Logs
logs/
*.log

# Model artifacts
models/
*.pkl
*.pt
*.h5
*.onnx

# Data files
data/
*.csv
*.xml
*.json
*.parquet

# Results
results/

# Secrets
.env
*.env
secrets.yaml
credentials.json

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# AWS EC2 key
*.pem