fastapi==0.135.1
mlflow==3.4.0
mlflow_skinny==3.4.0
mlflow_tracing==3.4.0
numpy==2.4.3
optuna==4.6.0
pandas==2.2.3
pydantic==2.12.5
pytest==8.4.2
PyYAML==6.0.3
Requests==2.32.5
scikit_learn==1.5.2
streamlit==1.49.1
tabulate==0.9.0
uvicorn==0.35.0
xgboost==3.2.0
